body{
  font-family: "Google Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15;
  background: #f9f9fa;
  color: #495057;
}
h1{
  font-family: "Museo", sans-serif;
  font-weight: 700;
}
h1 i{
  color: #4dabf7;
}
.form-control{
  border-color: rgba(0,0,0,.025);
  background: rgba(255,255,255,.65);
  box-shadow: none;
}
.form-control:focus{
  border-color: rgba(0,0,0,.025);
  box-shadow: 1px 2px 5px rgba(0,0,0,.025);
}
.col-icon{
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  transition: all .35s;
}
.col-icon:hover{
  background: #fff;
  box-shadow: 1px 2px 5px rgba(0,0,0,.2);
}
.icon{
  font-size: 48px;
  padding: 10px;
  color: #495057;
  transition: all .35s;
}
.icon:hover{
  background: #4dabf7;
  color: #fff;
}
.icon-name{
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #adb5bd;
  font-size: 13px;
  padding: 8px;
}
.copy-icon{
  padding: 0;
  margin: 0;
  height: 0;
  border: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}
.col-cat h3{
  position: relative;
  margin: 15px 0;
}
.col-cat h3::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: #4dabf7;
  margin-top: -1.5px;
}
.col-cat h3 span{
  position: relative;
  background: #f9f9fa;
  padding-right: 5px;
  color: #4dabf7;
}