.col-icon{
  position: relative;
  text-align: center;
}
.icon {
  font-size: 48px;
  margin: 10px 0;
}
.icon-name{
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.copy-icon{
  padding: 0;
  margin: 0;
  height: 0;
  border: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}